name: Code checks

on:
  workflow_dispatch:

jobs:
  job1:
    name: linting
    runs-on: ubuntu-latest
    steps:
    - name: Check out repo
      uses: actions/checkout@main
    - name: Use Python version 3.8
      uses: actions/setup-python@v3
      with:
        python-version: '3.8'
    - name: Install Flake8
      run: |
        python -m pip install flake8
    - name: Run linting tests
      run: | 
        flake8 src/model/
    - name: Install pytest
      run: pip install pytest pytest-cov
    - name: Run pytest
      run: pytest
    - name: Generate report 
      run: pytest --cov=./src --cov-report=xml:coverage.xml
    - name: upload coverage report 
      uses: actions/upload-artifact@v3
      with:
        name: converage-test
        path: coverage.xml

