name: Find Last model and deploy
on: 
  workflow_dispatch:

jobs: 
  job1:
    name: Find-latest-model
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@main

      - name: Login Azure
        uses: azure/login@v1
        with: 
          creds: ${{secrets.AZURE_CREDENTIALS}}

      - name: Install ML extension
        run: az extension add -n ml -y

      - name: get latest model
        run: |
          model_info=$(az ml model list \
          --resource-group ml_studio_rg \
          --workspace-name ml_work_place_1 \
          --query "[?starts_with(name, 'production-model-training') && status=='Completed'] | [-1].name" \-o json)

          model_name=$(echo "$model_info" | jq -r .name)
          model_version=$(echo "$model_info" | jq -r .version)

          echo "latest model: $model_name:$model_version"
          echo "model_name=$model_name" >> $GITHUB_OUTPUT
          echo "model_version=$model_version" >>$GITHUB_OUTPUT
  
